.ErrorMsg {
    color: #D65445;
    font-size: 14px;
}

.ErrorInput {
    box-shadow: 0 0 5px rgb(236, 42, 42);
}

.Modal{
	max-height: calc(100vh - 50px);
	overflow-y: auto;
	position: relative;
}


.Login {
    width: 400px;
	background: #FFFFFF;
	border-radius: 4px;
	position: relative;
	margin: 47px auto;
	display: flex;
	flex-direction: column;
    align-items: flex-start;
    border: none;
    outline: none;
    padding: 37px 37px 60px 37px;
}
.Login::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.Login {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.Header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.Header h1{
	font-size: 20px;
	font-weight: 400;
}

.Header img{
    padding: 10px 0;
    height: 30px;
    width: 100px;
}

.Header>button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    font-size: 24px;
    border: none;
    cursor: pointer;
}
.Form {
    width: 100%;
}
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.Header>button:hover {
    font-weight: bold;
    color: #D65445;
}

.Login input {
    background: #FCFCFC;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 4px;
    width: 300px;
    margin: 10px 0;
    padding: 10px;
}

.Login input:focus {
    outline: none;
    box-shadow: 0 0 5px rgb(35, 202, 191);
    padding: 10px;
    border: 1px solid rgb(30, 184, 173);
}

.Submit button {
    width: 300px;
    padding: 10px;
    
}
.AuthFacebook button{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.AuthFacebook {

}

.AuthFacebook img{
    width: 30px;
    height: 20px;
}
.AuthGoogle img {
    width: 20px;
    height: 20px;
}

.Form p {
    font-size: 13px;
    margin-top: 20px;
    color: #aaa;
}

.AuthGoogle button{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}