.Container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Cart {
    padding: 20px;
    width: 80%;
    margin: 100px 0;
}

.Card{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}